@model Week_4_Lab_Joey_Dias.Models.userModel

@{
    ViewBag.Title = "Details";
}

<h2>Details for @Html.DisplayFor(model => model.fName) @Html.DisplayFor(model => model.lName)</h2>

<div>
    <hr />
    <dl class="btn-group-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
